{% extends 'reiseblog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row justify-content-center">
      <div class="col-8">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.trip_title|as_crispy_field }}
            <div class="row">
              <div class="col-6">
                {{ form.trip_date|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.trip_end|as_crispy_field }}
              </div>
            </div>
            {{ form.trip_summary|as_crispy_field }}

            {{ form.photo_folder|as_crispy_field }}

            <button type="submit" class="btn btn-success">Import Trip</button>
        </form>
      </div>
  </div>

{% endblock %}
