{% extends 'reiseblog/base.html' %}
{% load thumbnail_maker %}
{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{trip.title}}</h1>
      <p class="lead text-muted">{{trip.summary}}</p>
    </div>
  </section>

  <div class="infinite-container photo-grid">
    {% for photo in photos %}
      <div class="infinite-item">
        {% usethumbnail photo.photo "photo_small" as im %}
          <a href="{{photo.photo.url}}" data-lightbox="{{trip.title}}">
            <img alt="Card image cap" class="img-thumbnail img-insta" src="{{im.url}}" >
          </a>
        {% endusethumbnail %}

      </div>
    {% endfor %}
  </div>

  {% if photos.has_next %}
    <a class="infinite-more-link" href="?page={{ photos.next_page_number }}">More</a>
  {% endif %}

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
  </script>

</main>


{% endblock %}
