{% extends 'fatalgram/base.html' %}
{% load static %}
{% block content %}
  <div class="row justify-content-center">
      <div class="col-8">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="trip_id">
            <button type="submit" class="btn btn-success">Upload</button>
          </form>
      </div>
  </div>

  {% if result %}

    <p>Content: {{ result }}</p>
  {% endif %}
  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
